@charset "UTF-8";
/*カラーパレット*/
/*font family*/
/*height*/
/*path*/
html {
  font-size: 52%;
  letter-spacing: .2em; }
  @media (max-width: 1920px) {
    html {
      font-size: 52%; } }
  @media (max-width: 990px) {
    html {
      font-size: 48%; } }
  @media (max-width: 480px) {
    html {
      font-size: 48%; } }

body {
  font-family: 'Noto Sans JP','Work Sans', sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
  letter-spacing: .1rem;
  line-height: 1.7;
  /*固定ヘッダー分*/ }

.container {
  width: 90%;
  margin: auto;
  max-width: 1280px;
  position: relative;
  z-index: 100; }

body,
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden; }

footer {
  margin-top: auto; }

/*===========================================*/
/*▼これより下記 コンポーネント一覧になります。▼*/
/*===========================================*/
/*===========================================*/
/*▼item用Youtube▼*/
/*===========================================*/
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%; }

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important; }

/*カラーパレット*/
/*font family*/
/*height*/
/*path*/
/*===========================================*/
/*▼Top▼*/
/*===========================================*/
#top .header-inner {
  width: 100%;
  background: #c4302b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #top .header-inner .header-ttl {
    font-size: 3rem;
    color: #fff; }

/*カラーパレット*/
/*font family*/
/*height*/
/*path*/
/*===========================================*/
/*▼Top▼*/
/*===========================================*/
/*カラーパレット*/
/*font family*/
/*height*/
/*path*/
/*===========================================*/
/*▼Top▼*/
/*===========================================*/
#top .video-section {
  width: 100%;
  margin: 0 0 3rem 0; }
  #top .video-section .video-ttl {
    font-size: 3rem;
    color: #333;
    margin: 0 0 1rem 0; }
