@import "mixin";
/*===========================================*/
/*▼Top▼*/
/*===========================================*/

#top {

   .header-inner {
      width: 100%;
      background: #c4302b;
      display: flex;
      justify-content: center;
      align-items: center;

      .header-ttl {
         font-size: 3rem;
         color: #fff;
      }
   }
}
