@import "mixin";
/*===========================================*/
/*▼Top▼*/
/*===========================================*/

#top {

   .video-section {
      width: 100%;
      margin: 0 0 3rem 0;

      .video-ttl {
         font-size: 3rem;
         color: #333;
         margin: 0 0 1rem 0;
      }

      .video-wrapper {

         .youtube {

         }
      }
   }
}
